<template>
    <v-container fluid grid-list-md @keypress.116="pasoApaso" @keypress.117="ejecutar" @keypress.115="compilacion" justify-center>
        <v-layout row  justify-center>
           
            <!--Botones-->
            <v-flex xs12 sm8 md8 lg8 xl8 fluid align-self-center>
                
                    <v-tooltip top>
                        <v-btn slot="activator" outline color="success" v-on:click="compilacion" :disabled="compilado">
                            <v-icon dark>code</v-icon>
                        </v-btn>
                        <span>Ensamblar el código fuente</span>
                    </v-tooltip>    

                    <v-tooltip top>
                        <v-btn slot="activator" dark outline color="#599EFF" v-on:click="ejecutar" :disabled="!compilado">
                            <v-icon dark>play_arrow</v-icon>
                        </v-btn>
                        <span>Ejecutar el proyecto</span>
                    </v-tooltip>    
                    
                    <v-tooltip top>
                        <v-btn slot="activator" dark outline color="#599EFF" v-on:click="pasoApaso" :disabled="!compilado">
                            <v-icon dark>skip_next</v-icon>
                        </v-btn>
                        <span>Ejecutar paso a paso</span>
                     </v-tooltip>    

                    <v-tooltip top>
                        <v-btn slot="activator" dark outline color="#9C432C" v-on:click="detener" :disabled="!compilado">
                            <v-icon dark>stop</v-icon>
                        </v-btn>
                        <span>Detener la ejecución</span>
                    </v-tooltip>    

                    <v-tooltip top>
                        <v-btn slot="activator" dark outline color="#9C432C" v-on:click="reiniciar" :disabled="!compilado">
                            <v-icon dark>replay</v-icon>
                        </v-btn>
                        <span>Reiniciar ejecuación</span>
                    </v-tooltip>    
            </v-flex> <!--Fin de botones-->
            <v-flex xs12 sm4 md2 lg2 xl2><!--PC y AC-->
                <v-card max-width="300px">
                    <v-card-title class="heading font-weight-bold">
                        <span>Ejecución</span>
                    </v-card-title>
                    <v-divider></v-divider>
                     <v-list dense>
                        <v-list-tile>
                            <v-list-tile-content>PC: {{pc}}</v-list-tile-content>
                            <v-list-tile-content class="align-end">AC: {{ac}}</v-list-tile-content>
                        </v-list-tile>   
                     </v-list>
                </v-card>  
            </v-flex><!--FIN DE AC Y PC-->
        </v-layout>

        <!--***************CODE MIRROR*************-->
        <v-layout row wrap justify-center>
            <v-flex xs12 sm8 md8 lg8 xl8 >
                <codemirror v-model="tcodigo" :options="cmOptions" ></codemirror>
                <v-alert
                    :value="hayError"
                    type="error"
                >
               {{error}}
                </v-alert>
            </v-flex>
            <!--***************FIN DE CODE MIRROR*************-->

            <!--***************Tabla de Registros usados*******************-->
            <v-flex xs12 sm4 md2 lg2 xl2>
                <v-card max-width="300px" max-height="300p">
                    <v-card-title class="heading font-weight-bold">Registros</v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-list dense subheader>
                            <template>
                                <v-list-tile>
                                    <v-list-tile-content>
                                        Registro
                                    </v-list-tile-content>
                                    <v-list-tile-content class="align-end">
                                        Instruccion
                                    </v-list-tile-content>
                                </v-list-tile>
                            </template>    
                        </v-list>        
                            <v-container id="scroll-target" style="max-height: 175px" class="scroll-y">
                                <v-list dense subhader>
                                    <template>
                                        <v-list-tile v-if="!compilado" v-for="i in 100" v-bind:key="i">
                                            <v-list-tile-content>
                                            r{{i}}
                                            </v-list-tile-content>
                                            <v-list-tile-content class="align-end">
                                                00000
                                            </v-list-tile-content>
                                        </v-list-tile>

                                        <v-list-tile v-for="(list, key) in Array.from(memoria)" v-bind:key="key">
                                            <v-list-tile-content>
                                                r{{list[0]}}
                                            </v-list-tile-content>
                                            <v-list-tile-content class="align-end">
                                                {{list[1]}}
                                            </v-list-tile-content>
                                        </v-list-tile>
                                    </template>    
                                </v-list>
                                <v-layout column align-center justify-center style="height: 175px">
                                </v-layout><!--Parte del scroll-->
                            </v-container>
                    </v-card-text>
                </v-card>
            </v-flex><!--***************Tabla de Registros usados*******************-->
        </v-layout>
        <v-layout row wrap justify-center>
            <!-- Pantalla -->
            <v-flex dl-fex xs12 sm12 md5 lg5 xl5>
                <v-card>
                    <v-card-title class="heading font-weight-bold">Pantalla</v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-container
                        ref="Pantalla"
                        id="scroll-target"
                        style="max-height: 150px"
                        class="scroll-y"
                        >
                        <div ref="divPantalla">
                            <div  v-for="pantalla in mensajesPantalla" >
                                <div>
                                    {{pantalla}}
                                </div>
                                <br>
                            </div>
                        </div>
                        <v-layout
                                    column
                                    align-center
                                    justify-center
                                       style="height: 160px"
                                >
                                </v-layout>
                        </v-container>
                    </v-card-text>    
                </v-card>
            </v-flex>
            <!-- Fin Pantalla -->
            <!--*************Historial************-->
            <v-flex dl-fex xs12 sm12 md5 lg5 xl5>
                <v-card>
                    <v-card-title class="heading font-weight-bold">Historial</v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-container
                        ref="registros"
                        id="scroll-target"
                        style="max-height: 150px"
                        class="scroll-y"
                        >
                        <div ref="divRegistros">
                            <div  v-for="(registro,key) in registroEjecucion" :key="key">
                                <div>
                                    <ul>
                                        <li v-for="(dato, key) in registro" :key="key">{{key}} - {{dato}}</li>
                                    </ul>
                                </div>
                                <br>
                            </div>
                        </div>
                                <v-layout
                            
                                    column
                                    align-center
                                    justify-center
                                       style="height: 160px"
                                >
                                </v-layout>
                        </v-container>
                    </v-card-text>    
                </v-card>
            </v-flex>
            <!--*************FIN Historial************-->
        </v-layout>        
    </v-container>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator';
import CodeMirror from 'codemirror';
import { Mutation, State } from 'vuex-class';
// theme css
import 'codemirror/theme/lesser-dark.css';

interface RegistroEjecucion {
    Definicion: string;
    Instruccion: string;
    PC: string;
    AC: string;
}
CodeMirror.defineMode('catraComputer', () => {
  return {
    token(stream: any, state: any) {
      if (stream.match(/([0-9]{5})/)) {
        return 'keyword';
        // return "variable"
      } else if (stream.match(/[0-9]{3}/)) {
        return 'number';
      } else if (stream.match(/(@).*/)) {
          return 'comment';
      } else {
        stream.next();
        return null;
      }
    },
  };
});

@Component({})
export default class Principal extends Vue {

    public tcodigo: string = '';
    public arrMemoria: string[] = [];
    public memoria: Map<string, string> = new Map();
    public tac: number = 0;
    public tpc: number = 0; /* es el contador de programa*/
    public fin: string = ''; /* almacena la dir de fin de programa */
    public compilado: boolean = false;
    public stop = false;
    public registroEjecucion: RegistroEjecucion[] = [];
    public def: string = '';
    public hayError: boolean = false;
    public error: string = '';
    public tiempoEspera: number = 3000; // tiempo de espera en ms
    public mensajesPantalla: string[] = [];

    get cmOptions() {
        return {
        // codemirror options
        tabSize: 4,
        mode: 'catraComputer',
        theme: 'lesser-dark',
        lineNumbers: true,
        line: true,
        readOnly: this.compilado,
      };
    }

    get ac() {
        return this.tac.toString().padStart(5, '0');
    }

    get pc() {
        return this.tpc.toString().padStart(3, '0');
    }

    get ap() {
        return Array.from(this.memoria);
    }

    @State('ubicacion') public ubicacion: FileList;

    @Watch('ubicacion')
    public async cargarArchivo() {
        this.cargar(this.ubicacion);
    }

    public cargar(archivos: FileList) {
        const archivo = archivos[0];

        if (!archivo) {
        return '';
        }
        const lector = new FileReader();
        lector.onload = (e) => {
            if (lector.result) {
                this.tcodigo = lector.result;
            }
        };

        lector.readAsText(archivo);
    }

    @Mutation('agregar') public agregar(codigo: string): void { /* */}

    @Watch('registroEjecucion')
    public scroll() {
        this.$refs.registros.scrollTop = this.$refs.divRegistros.scrollHeight;
    }
    @Watch('mensajesPantalla')
    public scrollP() {
        this.$refs.Pantalla.scrollTop = this.$refs.divPantalla.scrollHeight;
    }
    
    public reiniciar() {
        this.detener();
        this.compilacion();
    }

    public detener() {
        this.arrMemoria = [];
        this.memoria.clear();
        this.compilado = false;
        this.registroEjecucion = [];
        this.tpc = 0;
        this.tac = 0;
        this.mensajesPantalla = []
        this.stop = true;
    }

    public retraso(tiempoEspera: number) {
        return new Promise((resolve) => {
            setTimeout(resolve, tiempoEspera);
        });
    }

    public async ejecutar() {
        this.registroEjecucion.push({Definicion:'Inicio de ejecucion'});
        while (!this.stop && this.compilado) {
            await this.retraso(this.tiempoEspera);
            this.pasoApaso();
        }

    }

    public pasoApaso() {
        try {
            if (this.compilado) {
                const instruccion: string = this.leerRegistro(this.pc);
                this.tpc += 1;
                let codOperacion;
                let dato;
                codOperacion = instruccion.substr(0, 2);
                dato = instruccion.substr(2);
                this.ejecucion(codOperacion, dato);
                this.registroEjecucion.push({Definicion: this.def, Instruccion: instruccion, PC: this.pc, AC: this.ac});
                this.def = '';
            } else {
                alert('Tiene que ensamblar primero');
            }
        } catch (error) {
            this.error = error.message;
            this.hayError = true;
            this.compilado = false;
        }
    }


    public compilacion() {
        this.detener();
        this.stop = false;
        this.tpc = this.tac = 0;
        const error: any = 1;
        try {
            this.arrMemoria = this.tcodigo.split(/[\n]+/);
            let ubicacion: string;
            let contenido: string[]|null;
            this.arrMemoria.forEach((element) => {
                ubicacion = element.substring(0, 3);
                contenido = element.match(/[0-9]{5}/);
                if (contenido) {
                    this.memoria.set(ubicacion, contenido[0]);
                    if (contenido[0].substring(0, 1) === '43') {
                        this.fin = ubicacion;
                    }
                    this.hayError = false;
                } else {
                    this.error = `No se ha encontrado instruccion de la ubicacion ${ubicacion}`;
                    this.hayError = true;
                    throw new Error(this.error);
                }
            });
            this.compilado = true;
            this.arrMemoria=[]
        } catch (error) {
            this.error = error.message;
            this.hayError = true;
            this.memoria.clear();
            this.arrMemoria=[];
        }
    }

    private created() {
        window.addEventListener('keydown', (event) => {
            if (event.defaultPrevented) {
            return; // Do nothing if the event was already processed
            }

            switch (event.key) {
            case 'F4':
                // Correr el programa automaticamente.
                this.compilacion();
                event.preventDefault();
                break;    
            case 'F5':
                // Do something for "F5" key press.
                this.pasoApaso();
                event.preventDefault();
                break;
            case 'F6':
                // Correr el programa automaticamente.
                this.ejecutar();
                event.preventDefault();
                break;
            }
        }, true);
    }

    private leerRegistro(dato: string) {
        const t = this.memoria.get(dato);
        if (typeof(t) === 'undefined') {
            throw new Error(`La direccion de memoria(${dato}) no existe`);
        } else {
            return t;
        }
    }

    private ejecucion(cod: string, dato: string) {
        let t: any = '';
        let tdato: number;
        try {
            tdato = parseInt(dato, 10);
            if (isNaN(tdato)) {
                throw new Error(`${tdato} no es un numero`);
            }
            if (tdato > 100) {
                throw new Error(`Direccion de memoria ${tdato} no existe`);
            }
            switch (cod) {
                case '10':
                    t = prompt('Ingrese un número');
                    if (t && !isNaN(parseInt(t, 10))) {
                        this.memoria.set(dato, t);
                        this.def = `Lee un dato(${t}) y lo almacena en R-${dato}`;
                    } else {
                        this.def = `El dato no es un número`;
                        throw new Error(`El dato(${t}) no es un numero`);
                    }
                    break;
                case '11':
                    t = this.leerRegistro(dato);
                    this.def = `Escribe el dato ${t} contenido en R-${dato} en pantalla`;
                    this.mensajesPantalla.push(t);
                    break;
                case '20':
                    t = this.leerRegistro(dato);
                    this.tac = parseInt(t, 10);
                    this.def = `Carga el contenido de R-${dato} y lo almacena en AC`;
                case '21':
                    this.memoria.set(dato, this.ac);
                    this.def = `Almacena el contenido de AC en R-${dato}`;
                    break;
                case '30':
                    this.tac += parseInt(this.leerRegistro(dato), 10);
                    this.def = `Suma a AC el contenido de R-${dato}`;
                    break;
                case '31':
                    this.tac = this.tac - parseInt(this.leerRegistro(dato), 10);
                    this.def = `Resta a AC el contenido de R-${dato}`;
                    break;
                case '32':
                    this.tac /= parseInt(this.leerRegistro(dato), 10);
                    this.def = `Divide el contenido de R-${dato} entre el contenido de AC`;
                    break;
                case '33':
                    this.tac *= parseInt(this.leerRegistro(dato), 10);
                    this.def = `Multiplica el contenido de R-${dato} por el contenido de AC`;
                    break;
                case '40':
                    this.tpc = parseInt(dato, 10);
                    this.def = `Bifurca hacia R-${dato}`;
                    break;
                case '41':
                    if (this.tac < 0) {
                        this.tpc = parseInt(dato, 10);
                    }
                    this.def = `Bifurca hacia R-${dato} ya que AC es menor a 0`;
                    break;
                case '42':
                    if (this.tac === 0) {
                        this.tpc = parseInt(dato, 10);
                    }
                    this.def = `Bifurca hacia R-${dato} ya que AC es 0`;
                    break;
                case '43':
                    this.stop = true;
                    this.def = `Fin del programa, completó su tarea`;
                    this.compilado = false;
                    break;
                default:
                    this.hayError = true;
                    this.error = `El codigo de operacion ${cod} no existe`;
                    this.def = this.error;
                    break;
            }
        } catch (error) {
            this.error = error.message;
            this.hayError = true;
            this.compilado = false;
        }
    }
}
</script>

