<template>
  <v-app dark>
    <!--Inicio del desastre-->
    <v-container fluid grid-list-md>
      <v-toolbar dark v-model="drawer">
        <v-icon color="success" fixed>computer</v-icon>

        <v-toolbar-title class="white--text"> CatraComputer</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-tooltip top>  
          <v-btn icon slot="activator" @click="abrir">
            <v-icon color="success">folder_open</v-icon>
          </v-btn>
          <span>Abrir archivo</span>
        </v-tooltip>  

        <v-tooltip top>
          <v-btn icon slot="activator" dark @click="refrescar">
            <v-icon color="success">restore_page</v-icon>
          </v-btn>
          <span>Recargar la pagina</span>  
        </v-tooltip>

        <v-menu open-on-hover bottom offset-y>
          <v-btn icon slot="activator">
            <v-icon color="success">more_vert</v-icon>
          </v-btn>

          <v-list>
            <v-list-tile>
                  <v-btn small flat target="_blank" href="https://gitlab.com/ogalo96/catracomputer.git">
                    Ir a Gitlab
                  </v-btn>
            </v-list-tile>
            <v-list-tile>
                  <v-btn small dark flat target="_blank" href="https://catracomputer.herokuapp.com/#/">
                    Ir a Heroku
                </v-btn>
            </v-list-tile>
          </v-list>
        </v-menu>  

      </v-toolbar>
      <v-layout row align-space-around justify-start>
        <v-flex d-flex xs12 sm12 md12 lg12 xl12>
          <v-content>
            <Principal/> 
            
            <input type="file" ref="usernameInput" @change="previewFiles"/>
          </v-content>
        </v-flex>
      </v-layout>
    </v-container> <!--Fin de nav bar-->
    <!--****************************-->
   
    <v-container fluid>
      <v-footer dark height="auto" fluid>
        <v-card class="flex" flat tile>
          <v-card-title class="green darken-1">
            <strong class="subheading">Gabriel & Oscar</strong>
            <v-spacer></v-spacer>
            <span>Arquitectura de Computadoras</span>
            <v-spacer></v-spacer>
            
            <v-tooltip top>
              <v-btn slot="activator" dark icon href="https://gitlab.com/ogalo96/catracomputer.git">
                <v-icon >fa-gitlab</v-icon>
              </v-btn>
              <span>Ir al código fuente en gitlab</span>
            </v-tooltip>  
          </v-card-title>

          <v-card-actions class="grey darken-3 justify-center">
            &copy;2018 — <strong>Catracomputer</strong>
          </v-card-actions>
        </v-card>
      </v-footer>
    </v-container>
  </v-app>
</template>

<script>
import Principal from './views/principal';
import { mapMutations } from 'vuex';
export default {
  name: 'App',
  components: {
    Principal,
  },
  data() {
    return {
      drawer: null,
      contenido: '',
    };
  },
  methods: {
    ...mapMutations({agregar: 'agregar'}),
    abrir() {
      this.$refs.usernameInput.click();
    },
    previewFiles() {
      this.archivos = this.$refs.usernameInput.files;
      this.agregar(this.archivos);
    },
    refrescar(){
        location.reload(true);
    },
  },
};
</script>


<style lang="scss" scoped>
input[type="file"]{
    display: none;
}
</style>